In [22]:
import pandas as pd
import numpy as np

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Data Preprocessing

In [28]:
iris = pd.read_csv('irisdata.txt', sep = ',', header = None,
                  names = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species'])
iris_sepal = iris[['sepal_length', 'sepal_width', 'species']]
iris_sepal.head()

   sepal_length  sepal_width      species
0           5.1          3.5  Iris-setosa
1           4.9          3.0  Iris-setosa
2           4.7          3.2  Iris-setosa
3           4.6          3.1  Iris-setosa
4           5.0          3.6  Iris-setosa

Now I am going to make groups, that should be compared in our table

In [31]:
def group_length(row):
  if row['sepal_length'] < 5:
    return 'A'
  elif (row['sepal_length'] >= 5) & (row['sepal_length'] < 6):
    return 'B'
  elif (row['sepal_length'] >= 6) & (row['sepal_length'] < 7):
    return 'C'
  else:
    return 'D'

def group_width(row):
  if row['sepal_width'] < 3:
    return 'A'
  elif (row['sepal_width'] >= 3) & (row['sepal_width'] < 3.5):
    return 'B'
  elif (row['sepal_width'] >= 3.5) & (row['sepal_width'] < 4):
    return 'C'

iris_sepal['group_length'] = iris_sepal.apply(group_length, axis = 1)
iris_sepal['group_width'] = iris_sepal.apply(group_width, axis = 1)

iris_sepal.head()

   sepal_length  sepal_width      species group_length group_width
0           5.1          3.5  Iris-setosa            B           C
1           4.9          3.0  Iris-setosa            A           B
2           4.7          3.2  Iris-setosa            A           B
3           4.6          3.1  Iris-setosa            A           B
4           5.0          3.6  Iris-setosa            B           C

# Sepal_length

## Descriptive statistics

**Information about all species**

In [10]:
iris_sepal[['sepal_length', 'species']].groupby('species')\
          .aggregate(['count', 'mean', 'min', 'median', 'max', 'std'])\
          .round(decimals = 1)

                sepal_length
                       count mean  min median  max  std
species
Iris-setosa               50  5.0  4.3    5.0  5.8  0.4
Iris-versicolor           50  5.9  4.9    5.9  7.0  0.5
Iris-virginica            50  6.6  4.9    6.5  7.9  0.6

**Total information**

In [13]:
iris_sepal[['sepal_length']]\
.aggregate(['count', 'mean', 'min', 'median', 'max', 'std']).round(decimals = 1)

        sepal_length
count          150.0
mean             5.8
min              4.3
median           5.8
max              7.9
std              0.8

## % information

**Total % information**

In [14]:
# counts
iris_sepal[['group_length']].value_counts(normalize = False, sort=False)

group
A        22
B        61
C        54
D        13
dtype: int64

In [15]:
# percentage
iris_sepal[['group_length']].value_counts(normalize = True, sort=False).round(decimals = 3)*100

group
A        14.7
B        40.7
C        36.0
D         8.7
dtype: float64

**Species %**

In [16]:
# counts
iris_sepal[['species', 'group_length']].value_counts(normalize = False, sort = False)

species          group
Iris-setosa      A        20
                 B        30
Iris-versicolor  A         1
                 B        25
                 C        23
                 D         1
Iris-virginica   A         1
                 B         6
                 C        31
                 D        12
dtype: int64

In [17]:
# percentage
iris_sepal[['species', 'group_length']].value_counts(sort = False).round(decimals = 3)/50*100

species          group
Iris-setosa      A        40.0
                 B        60.0
Iris-versicolor  A         2.0
                 B        50.0
                 C        46.0
                 D         2.0
Iris-virginica   A         2.0
                 B        12.0
                 C        62.0
                 D        24.0
dtype: float64

# Sepal_width

## Descriptive statistics

**Total information**

In [39]:
iris_sepal[['sepal_width']]\
    .aggregate(['count', 'mean', 'min', 'median', 'max', 'std']).round(decimals = 1)

        sepal_width
count         150.0
mean            3.1
min             2.0
median          3.0
max             4.4
std             0.4

**Information about all species**

In [18]:
iris_sepal[['sepal_width', 'species']].groupby('species')\
          .aggregate(['count', 'mean', 'min', 'median', 'max', 'std'])\
          .round(decimals = 1)

                sepal_width
                      count mean  min median  max  std
species
Iris-setosa              50  3.4  2.3    3.4  4.4  0.4
Iris-versicolor          50  2.8  2.0    2.8  3.4  0.3
Iris-virginica           50  3.0  2.2    3.0  3.8  0.3

## % information

**Total % information**

In [32]:
# counts
iris_sepal[['group_width']].value_counts(normalize = False, sort = False)

group_width
A              57
B              69
C              20
dtype: int64

In [33]:
# counts
iris_sepal[['group_width']].value_counts(normalize = True, sort = False).round(decimals = 3)*100

group_width
A              39.0
B              47.3
C              13.7
dtype: float64

**Species % information**

In [37]:
# counts
iris_sepal[['species', 'group_width']].value_counts(normalize = False, sort = False)

species          group_width
Iris-setosa      A               2
                 B              27
                 C              17
Iris-versicolor  A              34
                 B              16
Iris-virginica   A              21
                 B              26
                 C               3
dtype: int64

In [38]:
# percentage
iris_sepal[['species', 'group_width']].value_counts(sort = False).round(decimals = 3)/50*100

species          group_width
Iris-setosa      A               4.0
                 B              54.0
                 C              34.0
Iris-versicolor  A              68.0
                 B              32.0
Iris-virginica   A              42.0
                 B              52.0
                 C               6.0
dtype: float64

***Thank you for viewing my notebook :)***